<a href="https://colab.research.google.com/github/AlexanderDunnB/labs/blob/main/GroupAssignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%sql sqlite:///GroupMilestone3.db

'Connected: @GroupMilestone3.db'

In [ ]:
%%sql
CREATE TABLE Staff(SSN text primary key, firstName text, lastName text, dobDay text, dobMonth text, dobYear real);

 * sqlite:///GroupMilestone3.db
Done.

[]

In [ ]:
%%sql
CREATE TABLE drinkMenu(drinkMenuID text primary key, price real, popularity real, staff text, seasonal text);

 * sqlite:///GroupMilestone3.db
Done.

[]

In [ ]:
%%sql
CREATE TABLE physicalLocation(addressZIP real primary key, staff text, occupancy real, menu text);

 * sqlite:///GroupMilestone3.db
Done.

[]

In [ ]:
%%sql
CREATE TABLE foodMenu(foodMenuID text primary key, price real, popularity real, seasonal text, staff text);
CREATE TABLE Reviews(reviewID text primary key, staff text, frequency real, customer text);

 * sqlite:///GroupMilestone3.db
Done.
Done.

[]

In [ ]:
%%sql
INSERT INTO drinkMenu VALUES('budlite', 3.50, 5, 'bartender', 'no');

 * sqlite:///GroupMilestone3.db
1 rows affected.

[]

In [ ]:
%%sql
INSERT INTO drinkMenu VALUES('miller lite', 4.00, 7, 'bartender', 'no');

 * sqlite:///GroupMilestone3.db
1 rows affected.

[]

In [ ]:
%%sql
INSERT INTO drinkMenu VALUES('coke', 2.00, 9, 'bartender', 'no');
INSERT INTO drinkMenu VALUES('hot chocolate', 3.00, 6, 'bartender', 'yes');
INSERT INTO drinkMenu VALUES('water', 0, 10, 'bartender', 'no');

 * sqlite:///GroupMilestone3.db
1 rows affected.
1 rows affected.
1 rows affected.

[]

What are the top 3 most to least popular drinks?

The top three most popular drinks is immortant imformtion to have. It allows the establishment to better tailor theyre purchasing of drinks to what is selling the fastest and therefore not waste money and space on low sellers. The results are not surprising. It makes sense for water and coke to be number one and two respectevily in party because they are non alcoholic and therefore can be enhjoyed by everyone but also because they are popular options to go with an adult beverage.

In [ ]:
%%sql
SELECT drinkMenuID,popularity FROM drinkMenu ORDER BY popularity DESC limit 3;

 * sqlite:///GroupMilestone3.db
Done.

[('water', 10.0), ('coke', 9.0), ('miller lite', 7.0)]

Which drinks are seasonal?

Seasonal drinks are important to know once again for purchasing reasons. For example hot chocolate is a seasonal drink. For the most part it is only purchased during winter and fall. This information allows the purchaser to not waste money and space on hot choclate during the summer and spring when demand for the drink is very low. The result of hot chocolate being seasonal is not at all surprising. The beverage has very strong ties to the winter months.

In [ ]:
%%sql
SELECT drinkMenuID,seasonal FROM drinkMenu WHERE seasonal = 'yes';

 * sqlite:///GroupMilestone3.db
Done.

[('hot chocolate', 'yes')]

What are the top 3 most expensive drinks?

The top three most important drinks is important information becuase it allows us to tailor our target audience for those drinks. For example, most college kids probably are not looking for expensive, luxury drinks. On the other hand proffessors or visitng people might be more interested in those drinks. The results are fairly sureprising. I would not have expected lite beer, and hot chocolate to be the most expensive menu items.

In [ ]:
%%sql
SELECT drinkMenuID,price FROM drinkMenu ORDER BY price DESC limit 3;

 * sqlite:///GroupMilestone3.db
Done.

[('miller lite', 4.0), ('budlite', 3.5), ('hot chocolate', 3.0)]

![ER DIagram](https://raw.githubusercontent.com/NWG4735/IST-210/master/Images/Group%20Project%202(updated).png)